/* icons */
.flower {
  color: var(--pink);
}
.dk-leaf {
  color: var(--green-1);
}
.link {
  color: var(--green-2);
}
.link:hover {
  transition: 1s ease-in-out;
  color: var(--pink);
  transform: scale(2);
  margin: 0 2rem;
}

/* header */
#header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 7rem;
  background-color: var(--light);
  border-bottom: 25px solid;
  border-color: var(--green-2);
}
/* nav */
nav {
  padding: 0;
  color: var(--dark);
}
.nav-btn {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--green-2);
}
.nav-btn:hover {
  transition: 1s ease;
  background-color: var(--pink);
}
.nav-btn.active {
  background-color: var(--pink);
}

/* main */
#main {
  width: 100%;
  height: calc(100% - 14rem);
  margin-top: 7rem;
  border-top: 25px solid;
  border-color: var(--green-1);
  background-color: var(--dark);
}

/* about */
#about {
  color: var(--light);
}
.section-text {
  border: 5px dotted;
  border-color: var(--green-2);
  border-radius: 30px;
}

/* projects */
#projects {
  color: var(--light);
  background-color: var(--dark);
  margin-bottom: 7rem;
}

/* card */
.card {
  width: 15rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  color: var(--light);
  background-color: var(--dark);
  border: 5px dotted;
  border-color: var(--green-2);
  border-radius: 30px;
}
.card-header {
  border-bottom: 1px solid;
  border-color: var(--green-2);
}
.card-body {
  margin-bottom: 1rem;
}
.card-title {
  color: var(--green-1);
}
.card-link {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--green-2);
  border-radius: 15px;
}
.card-link:hover {
  transition: 1s ease;
  background-color: var(--pink);
}

/* resume */
#resume {
  color: var(--light);
}
.skill-list {
  border-color: var(--green-1);
}
.skill {
  padding: 2px;
}

/* contact */
#contact {
  color: var(--light);
}

/* contact */
footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 7rem;
  background-color: var(--dark);
  color: var(--light);
  border-top: 5px dotted;
  border-color: var(--pink);
}