:root {
  --dark: #555b6e;
  --green-1: #89b0ae;
  --green-2: #bee3db;
  --light: #faf9f9;
  --pink: #d5b0ac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* media rules */
@media screen and (max-width: 768px) {
  .dk-leaf {
    visibility: hidden;
  }
}
